@font-face {
  font-family: "digits";
  src: url("DSEG7Classic-Regular.woff") format('woff');
}

.container {
  position: absolute;
  top:20px;
  left:20px;
}

.compass {
  position:relative;
  top:0px;
  left:0px;
}
 
.degree {
  font-family: 'digits', Fallback, sans-serif;
  position: absolute;; 
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(80, 103, 193, 0.61);
  padding:0.3em;
  z-index:10;
  color:white;
  font-size: 1.5em;
  font-weight: bold;
  width:2.5em;
  text-align: center;
}

.preset_new {
  position: absolute;
  top:30;
  left:30;
  font-family:Sans-serif; 
  border: 0px; 
  background: #181817b2;
  padding:0.3em;
  z-index:10;
  color:rgba(230, 50, 50, 1);   
  font-size: 1.3em;
  font-weight: bold;
  width:2.5em;
  text-align: center;
  visibility: hidden;
}


.preset_cur {
  position: absolute;
  top:30;
  left:30;
  font-family:Sans-serif; 
  background: #181817b2;
  border: 0px; 
  padding:0.3em;
  z-index:5;
  color:rgb(63, 255, 183);   
  font-size: 1.1em;
  font-weight: bold;
  width:2.5em;
  text-align: center;
  visibility: hidden;
}
