@font-face {
  font-family: "digits";
  src: url("DSEG7Classic-Regular.woff") format('woff');
}

.azimuth {
  font-family: 'digits', Fallback, sans-serif;
  position: absolute; 
  
  border: 2px solid white;
  border-radius: 6px;
  background: rgba(80, 103, 193, 0.61);
  padding:0.3em;
  z-index:10;color:white;
font-size: 1.5em;
font-weight: bold;
width:2.5em;
text-align: center;
}
