@font-face {
  font-family: "digits";
  src: url("DSEG7Classic-Regular.woff") format('woff');
}

.container {
  position: absolute;
  padding-top:10px;
  padding-left:10px;
}
  
.azimuth {
  font-family: 'digits', Fallback, sans-serif;
  position: relative; 
  border: 1px solid white;
  border-radius: 5px;
  background: rgba(80, 103, 193, 0.61);
  padding:0.3em;
  z-index:10;color:white;
  font-size: 1.5em;
  font-weight: bold;
  width:2.5em;
  text-align: center;
}

.preset_new {
  position: relative;
  top:0;
  left:0;
  font-family:Sans-serif; 
  border: 1px solid white; 
  padding:0.3em;
  z-index:10;
  color:rgba(230, 50, 50, 1);   
  font-size: 1em;
  font-weight: bold;
  width:2.5em;
  text-align: center;
  visibility: visible;
}
