/* ------------------------------------------------------------------------------------------------------------- */
/*                                            General page style                                                 */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* page common settings */
body {
  background-color: #FFFFFF;
  margin:0;
  padding:0;
  padding-bottom:20px;
  font-family: sans-serif;
  overflow-x: hidden;  /* Avoid "scrolling" */
  overflow-y: hidden;  /* Avoid "scrolling" */
}

/* special style to hide scrollbars */
::-webkit-scrollbar {  display: none; }

table {
  border-spacing: 0px;
  border: none;
  border-collapse: collapse;
  margin-top:5px;
}


/* ------------------------------------------------------------------------------------------------------------- */
/*                                            Window topbar emulator                                             */ 
/* ------------------------------------------------------------------------------------------------------------- */

.topbar {
  width: 100%;
  height: 24px;
  background-color: #686866;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-top:6px;
  -webkit-app-region : drag;   /* special effect to drag entire window using this bar */
}


/* ------------------------------------------------------------------------------------------------------------- */
/* fieldsets are used to "group" similarowr settings together. There are 3 fieldsets (network, general, advanced)*/ 
/* ------------------------------------------------------------------------------------------------------------- */

/* Common fieldset settings  */
fieldset {
  border-radius: 10px;
  border-width: 1px;;
  position: relative; 
  margin-top:10px;
  width:89%;
  margin:auto;
  margin-top:8px;
}

/* fieldset legend (i.e. description "within the border" of grouped objects ) */
fieldset > legend { font-size: 14px; font-style: italic; }

/* specific fieldset settings (network group) */
fieldset.network  {border-color: #3f49d7; height:83px; }
legend.network    {color: #3f49d7;}

/* specific fieldset settings (rotator behaviour group)*/
fieldset.rotator  { height:130px;; border-color: #107508;}
legend.rotator    { color: #107508;  }

/* specific fieldset settings (advanced group) */
fieldset.advanced { height:55px;; border-color: #c82cc5;}
legend.advanced   { color: #c82cc5;  }

/* specific fieldset for file */
fieldset.file {border:none; margin-top:0px; margin-bottom:7px;}


/* Additional styles for "table" used to describe specific section (i.e. fieldset) */
.description {    display: inline; text-align: left;}

/* ? icon */
.help {
  font-weight: bolder;
  font-size:12px;
  border: 1px solid #3498db;
  border-radius: 100%;
  width: 14px;
  text-align: center;
  background: #3498db;
  color: white;
  cursor: pointer;
  display: inline;
  position: fixed;
  right: 20px;
}

/* ? icon when text is displayed */
.help.active { background-color:green;border-color: green;}

/* ------------------------------------------------------------------------------------------------------------- */
/*                                            settings containers                                                */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* specific style for each settings table */
.label   {
  white-space: nowrap;
  margin-top:0px;
  font-size: 12px;
  color: #333333;
  margin-bottom:3px;
  top:0px;
}

/* Cell containing an input field */
.input {
  white-space: nowrap;
  margin-top:0px;
  font-size: 12px;
  color: #333333;
  margin-bottom:3px;
  height:30px;
}

/* Cell containing a radio button */
.radiobutton { font-size: 12px; padding-top:5px; vertical-align: middle;}

/* custom style for rotator name table */
div.topbar ~ table {
  margin: auto;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 10px;
}

/* custom style for file path */
span#filepath {
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 245px;
  overflow: hidden;
  display: block;
  font-size: 12px;
  margin-left:5px;
}

/* ------------------------------------------------------------------------------------------------------------- */
/*                                               HTML input fields                                               */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* common style for all input fields */
input {
  border: none;
  border-bottom:1px solid green;
  font-size: 20px;
  margin-top:0px;
  color:green;
}

/* style when input field has focus */
input:focus {
  outline: none;
  border: 0px solid white;
  border-bottom:1px solid #0066ff;
  background-color: #EEEEEEAA;
  color:black;
}

/* style when input field contains invalid data (class error applied when invalid data) */
input.invalid {
  border-bottom:3px solid red;
  color:red;
  position: relative;
  display: inline-block;
}

/* specific configuration for some input (identified by id) */
input#stopN     {vertical-align: middle; margin-top: -2px;font-weight: bold;}
input#stopS     {vertical-align: middle; margin-top: -2px;font-weight: bold;}
input#hamlib    {vertical-align: middle; margin-top: -2px;font-weight: bold;}
input#rotctlgui {vertical-align: middle; margin-top: -2px;font-weight: bold;}
input#polling   {width:50px;text-align:center;}
input#error     {width:25px;text-align:center;}
input#address   {width:215px;}
input#port      {width:60px;text-align:center;}
input#filename  {width:228px;margin-left:5px;}



/* ------------------------------------------------------------------------------------------------------------- */
/*                                            Tooltips configuration                                             */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* Generic tooltip config */
.tooltip {
  visibility: hidden;     /* by default tooltip is hidden*/
  border-radius: 6px;     /* border radius */
  padding: 5px;           /* space between text and tooltip border */
  position: fixed;        /* fixed position so it doesn't influence other elements */
  z-index: 1;             /* need to be "over" other elements */
  text-align: center;;
}

/* invalid parameter tooltip */
.invalidcfg  { 
  background-color: darkred;
  color: #fff;
  font-size: 12px;
}   

/* tooltip "arrow" above the error tooltip */
.tooltip.invalidcfg::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent darkred transparent;
}

/* help tooltip */
.helptext    {
  background-color: khaki;  
  color: black;
  font-size: 14px;
  text-align: justify;
  padding:10px;
  border: 1px solid black;
  width: 88%;
  margin-left: 10px;
  top:900px;
  transition: top 0.5s;
  visibility: visible;
  border-radius: 15px;
}

/* location tooltip */
.path  {                                                
  background-color: khaki; 
  opacity: 0.7;
  color:black; 
  padding-left:5px; 
  padding-right:5px; 
}   

/* tooltip enable events */
.invalid:focus ~ .tooltip.tooltip.invalidcfg {display:inline; visibility: visible; }             /* For invalid settings, display on focus */
span#filepath:hover ~ .tooltip.path {visibility: visible;}                                       /* for path is OK hover event */

/* Error tooltip positioning */              
input#name    ~  .tooltip.invalidcfg { left:102px; width:140px; top: px; }
input#address ~  .tooltip.invalidcfg { left:20px ; width:210px; top:193px; }
input#port    ~  .tooltip.invalidcfg { left:223px; width:110px; top:193px; } 
input#polling ~  .tooltip.invalidcfg { left:8px;   width:70px;  top:300px  }
input#error   ~  .tooltip.invalidcfg { left:182px; width:90px;  top:300px; }
input#filename ~ .tooltip.invalidcfg { left:110px;  width:200px; top:480px; }
span#filepath  ~ .tooltip.path  { left: 10px; width:max-content; top:500px;} 

/* Help positioning */
#helpNetwork.hidden   { top:800px; }
#helpNetwork          { top:200px; }
#helpAdvanced.hidden  { top:-300px;}
#helpAdvanced         { top:130px; }
#helpRotator1         { top:35px;}
#helpRotator2         { top:355px;}
#helpRotator1.hidden  { top:-300px}
#helpRotator2.hidden  { top:800px}

/* ------------------------------------------------------------------------------------------------------------- */
/*                                            Specific tooltip help                                              */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* paragraph within help */
.helptext > p {
  margin-bottom: 10px;
  margin-top: 0px;
}

/* close button */
.helptext > .close {
  border: 1px solid black;
  margin: auto;
  padding: 1px;
  position: relative;
  width: 20px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
  text-align: center;
}

.helptext > .close:hover {
  background-color: gray;
  color: white;
  border-color: gray;
}

/* ------------------------------------------------------------------------------------------------------------- */
/*                                             Buttons configuration                                             */ 
/* ------------------------------------------------------------------------------------------------------------- */

/* generic style configu for buttons */
.button {
  appearance: none;
  /*-webkit-appearance: none;*/
  font-weight: bold;
  cursor: pointer;
  margin:10px;
  padding: 12px;
  min-width: 100px;
  border-radius: 6px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  color: #ffffff;
  text-transform: uppercase;
}

/* special styles for save and cancel button both normal and hoovered */
#save.button         { background: #2ecc71; margin-left:150px}     /* Save is enabled */
#save.button:hover   { background: #27ae60; }                      /* Save is enabled, highlight the button on hover */
#cancel.button       { background: #f1c40f; }                      /* normal Cancel button status */
#cancel.button:hover { background: #f39c12; }                      /* Cancel button on hover */

/* save button not enabled, no change detected */
#save.nosave, #save.nosave:hover {                                
  cursor:default; 
  color: lightgray; 
  background-color: #66d193; 
}

