body {
  background-color: #FFFFFF;
  margin:0;
  padding: 0;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

/* Common fieldset settings */
fieldset {
  border-radius: 10px;
  border-width: 1px;;
  position: relative; 
  margin-top:10px;
  width:300px;
  margin-left: 10px;
}

fieldset > legend {
  font-size: 14px;
  font-style: italic; 
}

/* Table emulator with DIV */
.table {
  width: inherit; 
  display: table;
  position: relative;
}
.row   {display: table-row; }
.cell  {display: table-cell;}
.description {top:-5px;}

/* special "cells" */
.explain {
  font-size: 16px;
  color: black;
}

.help {
  font-weight: bolder;
  font-size:12px;
  border: 1px solid #3498db;
  border-radius: 100%;
  width: 14px;
  text-align: center;
  background: #3498db;
  color: white;
}

.help:hover{cursor: pointer;}

.label   {
  margin-top:0px;
  font-size: 12px;
  color: #555555;
  margin-bottom:3px;
  top:0px;
}

.radiobutton {
  font-family: inherit;
  font-size: 12px;
  padding-top:2px;
  text-transform: uppercase;
}


fieldset.network  {border-color: #3f49d7; height:80px;}
legend.network    {color: #3f49d7;}

fieldset.rotator  { height:150px;; border-color: #107508;}
legend.rotator    { color: #107508;  }

fieldset.advanced { height:65px;; border-color: #c82cc5;}
legend.advanced   { color: #c82cc5;  }

.name {
  margin:auto;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  height:50px;
}

input {
  border: none;
  border-bottom:1px solid green;
  font-size: 20px;
  margin-top:5px;
  color:green;
}

input#polling{width:50px;}
input#error{width:25px;}
input#address{width:215px;}
input#port{width:60px;}

input:focus {
  outline: none;
  border: 0px solid white;
  border-bottom:1px solid #0066ff;
  background-color: #EEEEEEAA;
  color:black;
}

input#filename {width:245px;margin-left:5px;}
div#fullpath   {padding-left:5px;}


input.error {
  border-bottom:1px solid red;
  color:red;
  position: relative;
  display: inline-block;
}


.settings {
  margin-top: 20px;
  margin-left: 10px;
}

input#polling ~ .tooltipError {
  left:-20px;
  top:100%;
  width:90px;
}


input#port ~ .tooltipError {
  width: 90px;
  left:220px;
  top:50px;
}

input#error ~ .tooltipError {
  width: 90px;
  left:150px;
  top:50px;
}


.tooltipError {
  visibility: hidden;
  font-size:12px;
  background-color: darkred;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.error:hover ~ .tooltipError { visibility: visible; }

.button {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
  font-weight: bold;
  cursor: pointer;
  margin:10px;
  padding: 12px;
  min-width: 100px;
  border-radius: 6px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
  color: #ffffff;
  text-transform: uppercase;
}

#save.button { background: #2ecc71; }
#save.button:hover { background: #27ae60; }

#cancel.button { background: #f1c40f;}
#cancel.button:hover { background: #f39c12;}

#buttons.table  {
  margin-top:20px;
  margin-left: 140px;
}

#save.nosave { 
  cursor:default;
  color: lightgray;
  background-color: #66d193;
}
#save.nosave:hover {background: #66d193;}